<!--<div id="layout-vertical-navigation" class="template-layout" layout="row" flex>

    <md-sidenav id="vertical-navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="navigation" ms-scroll ui-view="navigation"></md-sidenav>

    <div id="content" flex layout="column">
        <md-toolbar id="toolbar" class="md-menu-toolbar md-whiteframe-1dp" ui-view="toolbar"></md-toolbar>

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll
                    ui-view="content" flex></md-content>
    </div>

    <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel"
                ms-scroll ui-view="quickPanel"></md-sidenav>

</div>-->

<div id="layout-vertical-navigation" class="template-layout" layout="row" flex>

    <md-sidenav id="vertical-navigation" class="md-primary-bg" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="navigation" ms-scroll ui-view="navigation"></md-sidenav>

    <div id="content" flex layout="column">
        <md-toolbar id="toolbar" class="md-menu-toolbar" ui-view="toolbar" ></md-toolbar>

        <md-content id="content" class="animate-slide-up md-background md-hue-1" ms-scroll
                    ui-view="content" flex></md-content>
    </div>

    <div ng-show="processingRequest"  id="progress-image-loading">
        <div class="center">

            <center>
              <img src="./assets/images/logos/logo-white.png"/>

            </center>


            <div class="spinner-wrapper">
                <div class="spinner">
                    <div class="inner">
                        <div class="gap"></div>
                        <div class="left">
                            <div class="half-circle"></div>
                        </div>
                        <div class="right">
                            <div class="half-circle"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- <md-sidenav id="quick-panel" class="md-sidenav-right md-whiteframe-4dp" md-component-id="quick-panel"
                ms-scroll ui-view="quickPanel"></md-sidenav> -->

</div>
