<div layout="row" id="users" ng-cloak="" layout-fill>
  <div layout="column" class="page" flex>
    <md-card class="default header" layout="column" layout-align="center left">

    </md-card>
    <fieldset>
      <legend>View</legend>
      <md-radio-group layout="row" ng-change="vm.appraisalStatusChanged(vm.status)" layout-align="center space-between" ng-model="vm.status">
        <md-radio-button ng-show="vm.loggedInUser.roles=='LINE_MANAGER'||vm.loggedInUser.roles=='SUPER_ADMIN'" value="pending">Submitted List</md-radio-button>
        <md-radio-button value="reviewed">Reviewed List</md-radio-button>
        <md-radio-button value="approved">Approved List</md-radio-button>
        <md-radio-button value="rejected">Rejected List</md-radio-button>
      </md-radio-group>
    </fieldset>
    <div class="table" style="margin:25px;">
      <md-table-container>
        <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
          <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column>
                <span class="table_heading_style">Full Name </span>
              </th>
              <th md-column>
                <span class="table_heading_style">Email </span>
              </th>
              <th md-column>
                <span class="table_heading_style">Line of Business </span>
              </th>
              <!-- <th md-column>
                <span class="table_heading_style">Appraisal Date </span>
              </th> -->
            </tr>
          </thead>

          <tbody md-body>
            <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="user in users | filter: filter.search | orderBy: query.order ">
              <td md-cell class="nameStlye">{{user.firstname}} {{user.lastname}}</td>
              <td md-cell>{{user.email}}</td>
              <td md-cell>{{user.lob}}</td>
              <!-- <td md-cell>{{user.appraisalDate}}</td> -->
              <td md-cell>
                <md-icon ng-click="vm.getAppraisalDetails(user,$event,'appraisalform.html')" md-svg-src="./assets/icons/svg/view-list-button.svg"
                  class="button">view</md-icon>
              </td>
            </tr>
          </tbody>
        </table>
        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{employees.count}}"
          md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="vm.getEmployeeList"></md-table-pagination>
      </md-table-container>


    </div>
    <!-- <td md-cell><md-icon ng-click="vm.getAppraisalDetails(user,$event,'appraisalform.html')" md-svg-src="./assets/icons/svg/round-add-button.svg"
            class="button"></md-icon></td> -->
  </div>
  <!-- / CONTENT -->

</div>
