<div ng-show="processingReveiw" id="image-loading">
    <div class="center">

        <center>
        <img src="./assets/images/logos/logo-white.png"/>
          <!-- <img src="processing.gif" width="50px"/> -->
        </center>

        <!-- Material Design Spinner -->
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="inner">
                    <div class="gap"></div>
                    <div class="left">
                        <div class="half-circle"></div>
                    </div>
                    <div class="right">
                        <div class="half-circle"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- / Material Design Spinner -->
    </div>
</div>

<md-dialog style="max-width: 90%; max-height: 90%;" aria-label="Employee Appraisal Form" flex draggable >
    <md-toolbar style="background:rgb(3,155,229);">
        <div class="md-toolbar-tools">
          <h2>Employee Appraisal Form</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <md-icon md-svg-src="./assets/icons/svg/close-button.svg" aria-label="Close dialog"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>

    <div layout="column" class="page" layout-fill>

      <fieldset id="viewfieldset">
        <legend>EMPLOYEE PROFILE</legend>
          <div class="personal-profile" layout="row">
            <div class="profile-details" layout="column" flex>
              <div class="header">
                  <h1 style="font-weight: bold; font-size:15px;">{{user.firstname+' '+user.lastname}}
                  </h1>
              </div>
                <div class="details" layout="row" layout-wrap>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Line Of Business</p>
                        <span>{{user.personalInfo.lob||'N/A'}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Recruitment Date</p>
                        <span>{{user.personalInfo.recruitmentDate||"N/A"}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Location/based at </p>
                        <span>{{user.personalInfo.location}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Year or period covered</p>
                        <span>{{user.personalInfo.periodCovered}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Time in present position</p>
                        <span>{{user.personalInfo.timeInPresentPosition}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Length of service</p>
                        <span>{{user.personalInfo.lengthOfService}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Appraisal date & time</p>
                        <span>{{user.personalInfo.appraisalVenue}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Appraisal venue</p>
                        <span>{{user.personalInfo.appraisalVenue}}</span>
                    </div>
                    <div flex="25">
                        <p style="font-weight: bold; font-size:15px;">Appraiser</p>
                        <span>{{user.personalInfo.appraiser}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset id="viewfieldset">
            <legend>GOALS & OBJECTIVES</legend>
              <div class="personal-profile" layout="row">
                <div class="profile-details" layout="column" flex>
                  <!-- <p>A brief description of employee's understanding and contributions to the overall objective of the organisation in 2017 </p> -->
                  <div class="details" layout="row" layout-wrap>
                      <div flex="25">
                          <!-- <p>RESPONSE</p> -->
                        <span>{{objectives.objectives}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
                  <fieldset id="viewfieldset">
                    <legend>EMPLOYEE’S SELF- ASSESSMENT</legend>
                      <div class="personal-profile" layout="row">
                        <div class="profile-details" layout="column" flex>
                          <!-- <p>Your Job Summary: Summary of Employee's responsibilities during this period, including significant projects. </p> -->

                            <div class="visits" flex>
                                <h2 class="heading">
                                    <md-icon md-svg-src="./assets/icons/svg/added/Admit.svg"></md-icon>Job Summary</h2>
                                <div class="single-visit">
                                    <md-table-container>
                                        <table md-table ng-model="selected" md-progress="promise">
                                          <!-- <thead md-head>
                                            <tr md-row>
                                              <th md-column md-order-by="name" ><span style="font-weight: bold; font-size:15px;">Creed </span></th>
                                              <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Definitions</span></th>
                                              <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Ratings</span></th>
                                            </tr>
                                          </thead> -->
                                          <tbody md-body>
                                            <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="summary in jobSummary">
                                              <td md-cell style="padding: 0;">{{$index + 1}}</td>
                                              <td md-cell>{{summary.summary}}</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </md-table-container>
                                    <!-- <md-grid-list md-cols="2" ng-repeat="summary in jobSummary"  md-gutter="1em" md-row-height="15px" style="width: 300px;">
                                        <md-grid-tile>{{summary.summary}}</md-grid-tile>
                                    </md-grid-list> -->
                                </div>
                            </div>
                            <div class="visits" flex>
                                <h2 class="heading" style="margin-top:40px;">
                                    <md-icon md-svg-src="./assets/icons/svg/added/Admit.svg"></md-icon>Adjusted Responsibilities/Additional Comments</h2>
                                <div>
                                    <md-table-container>
                                        <table md-table ng-model="selected" md-progress="promise">
                                          <!-- <thead md-head>
                                            <tr md-row>
                                              <th md-column md-order-by="name" ><span style="font-weight: bold; font-size:15px;">Creed </span></th>
                                              <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Definitions</span></th>
                                              <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Ratings</span></th>
                                            </tr>
                                          </thead> -->
                                          <tbody md-body>
                                            <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="comment in additionalComments">
                                              <td md-cell style="padding: 0;">{{$index + 1}}</td>
                                              <td md-cell>{{comment.comment}}</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </md-table-container>

                                  <!-- <md-grid-list md-cols="2" ng-repeat="comment in additionalComments"  md-gutter="1em" md-row-height="15px" style="width: 300px;">
                                        <md-grid-tile>{{comment.comment}}</md-grid-tile>
                                    </md-grid-list> -->
                                </div>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                        <fieldset id="viewfieldset">
                          <legend>PERFORMANCE APPRAISAL</legend>
                            <div class="personal-profile" layout="row">
                              <div class="profile-details" layout="column" flex>

                                  <div class="details" layout="column" layout-wrap>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">Accomplishment of key responsibilities/deliverables:</p>
                                          <span style="margin:20px;">{{performanceAppraisal.accomplishment}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">Achievement of the goals established during the past year: </p>
                                          <span style="margin:20px;">{{performanceAppraisal.achievement}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">Identify areas of exceptional performance on your part that should be particularly noted.  Provide specific examples. </p>
                                          <span style="margin:20px;">{{performanceAppraisal.exceptionalPerformance}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">In your current position, can you share an example where you have demonstrated your leadership? Provide specific examples.</p>
                                          <span style="margin:20px;">{{performanceAppraisal.leadership}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">In your current position, can you share an example where you have taken ownership? Provide specific examples.</p>
                                          <span style="margin:20px;">{{performanceAppraisal.ownership}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;">Identify areas of your performance needing more attention or improvement.  Provide specific examples.</p>
                                          <span style="margin:20px;">{{performanceAppraisal.improvement}}</span>
                                      </div>
                                      <div flex>
                                          <p style="font-weight: bold; font-size:15px;"> Apart from your current role, is there any other role in the organization you will like to function in? Please specify the role,
                                             state the reasons for your choice and articulate how you intend to contribute to the goal of the organization by functioning in this role</p>
                                          <span style="margin:20px;">{{performanceAppraisal.anyOtherRole}}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
              </fieldset>
      <fieldset id="viewfieldset">
      <legend>FOUNDING PHILOSOPHY</legend>
        <div class="personal-profile" layout="row">
          <div class="profile-details" layout="column" flex>
            <md-table-container>
              <table md-table ng-model="selected" md-progress="promise">
                <thead md-head>
                  <tr md-row>
                    <th md-column md-order-by="name" ><span style="font-weight: bold; font-size:15px;">Creed </span></th>
                    <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Definitions</span></th>
                    <th md-column md-order-by="type"><span style="font-weight: bold; font-size:15px;">Ratings</span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="user" md-on-select="logItem" md-auto-select="options.autoSelect"  ng-repeat="philosophy in foundingPhilosophy">
                    <td md-cell>{{philosophy.name}}</td>
                    <td md-cell>{{philosophy.definition}}</td>
                    <td md-cell>
                        {{philosophy.rating==4?'Exceptional':philosophy.rating==3?'Good':philosophy.rating==2?'Below Average':'Poor'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
            <p>
              <div flex>
                  <p style="font-weight: bold; font-size:15px;">Key achievement / client feedback on my performance in relation to the founding philosophy</p>
                  <span style="margin:20px;">{{clientFeedback.feedBack}}</span>
              </div>
            </p>
          </div>
        </div>
      </fieldset>
      <fieldset id="viewfieldset">
      <legend>OVERALL ASSESSMENT</legend>
        <div class="personal-profile" layout="row">
          <div class="profile-details" layout="column" flex>

            <div class="details" layout="row" layout-wrap>
                <div flex="25">

                  <span>{{
                    vm.overallAssessment
                  }}</span>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset id="viewfieldset">
      <legend>DEVELOPMENT PLAN</legend>
        <div class="personal-profile" layout="row">
          <div class="profile-details" layout="column" flex>

            <div class="details" layout="column" layout-wrap>
                <fieldset>
                    <legend>{{developmentPlans[0]['plan']}}</legend>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Competences</p>
                        <span style="margin:20px;">{{developmentPlans[0]['competences']}}</span>
                    </div>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Actions </p>
                        <span style="margin:20px;">{{developmentPlans[0]['actions']}}</span>
                    </div>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Due Date </p>
                        <span style="margin:20px;">{{developmentPlans[0]['dueDate']|date}}</span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{developmentPlans[1]['plan']}}</legend>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Competences</p>
                        <span style="margin:20px;">{{developmentPlans[1]['competences']}}</span>
                    </div>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Actions</p>
                        <span style="margin:20px;">{{developmentPlans[1]['actions']}}</span>
                    </div>
                    <div flex>
                        <p style="font-weight: bold; font-size:15px;">Due Date </p>
                        <span style="margin:20px;">{{developmentPlans[1]['dueDate']|date}}</span>
                    </div>
                </fieldset>
            </div>
          </div>
        </div>
      </fieldset>
      <fieldset id="viewfieldset">
      <legend>APPROVE/DECLINE</legend>
        <div class="personal-profile" layout="row">
          <div class="profile-details" layout="column" flex>
            <div class="details" layout="column" layout-wrap>
                <div layout="row" flex>
                    <div flex="15">
                        <label class="tiredlabel"><span class="" style="font-weight: bold; font-size:15px;">*</span> Final Rating:</label>
                    </div>
                    <md-input-container class="tiredinput" flex="80">
                      <label></label>
                      <textarea md-no-asterisk type="text" ng-model="review.finalRating" required></textarea>
                    </md-input-container>
                  </div>
              <div layout="row" flex>
                <div flex="15">
                    <label class="tiredlabel"><span class="" style="font-weight: bold; font-size:15px;">*</span> Comment:</label>
                </div>
                <md-input-container class="tiredinput" flex="80">
                  <label></label>
                  <textarea md-no-asterisk type="text" ng-model="review.comment" required></textarea>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
      <div layout="row" layout-align="center center">
          <md-button  class="md-raised md-accent"  ng-click="submitReveiw(true)" ng-disabled="review.finalRating==null||review.comment==null" style="margin-right:20px;">
              Approve
          </md-button>
          <md-button  class="md-raised md-accent"  ng-click="submitReveiw(false)" ng-disabled="review.finalRating==null||review.comment==null" style="margin-right:20px;">
              Decline
          </md-button>
        </div>
  </div>
      </md-dialog-content>
  <!-- <div class="buttom-button">
      <button ng-click="vm.RespondToQuickAction('new')">
          <md-icon md-svg-src="./assets/icons/svg/round-add-button.svg"></md-icon>
          Close
      </button>
  </div> -->
  </md-dialog>



