<div layout="row" id="passwordChange" ng-cloak="" layout-fill>
    <div layout="column" class="page" flex>
        <md-card class="default header" layout="column" layout-align="center left">
            <h3>
                <md-icon md-font-icon="icon-content-paste"></md-icon>
            </h3>
        </md-card>
        <md-content class="body" layout="column" flex layout-padding layout-margin ms-scroll>
            <form novalidate name="passwordChange">
                <fieldset>
                    <div layout="row">
                        <div flex="15">
                            <label class="label">Current Password:</label>
                        </div>
                        <md-input-container flex="15">
                            <label></label>
                            <input md-no-asterisk type="text" type="password" name="oldpassword" ng-model="vm.passwordChange.OldPassword" required>
                        </md-input-container>
                        <div flex="20">
                            <label class="label">New Password:</label>
                        </div>
                        <md-input-container flex="15">
                            <label></label>
                            <input md-no-asterisk type="password" name="password" ng-model="vm.passwordChange.Password" required>
                        </md-input-container>
                        <div flex="20">
                            <label class="label">Confirm Password:</label>
                        </div>
                        <md-input-container flex="15">
                            <label></label>
                            <input md-no-asterisk type="password" name="password_confirmation" confirm-pwd="vm.passwordChange.Password" ng-model="vm.passwordChange.ConfirmPassword" required>
                            <div class="form-errors" ng-messages="passwordChange.password_confirmation.$error" ng-if='passwordChange.password_confirmation.$touched'>
                                <span class="form-error" ng-message="password">Password does not match</span>
                            </div>
                        </md-input-container>
                        <md-button class="md-raised md-accent"  ng-disabled="passwordChange.$invalid || passwordChange.$pristine"  ng-click="vm.changePassword()"
                            flex="10">
                            Add
                        </md-button>
                    </div>
                </fieldset>
            </form>
        </md-content>
    </div>
</div>