#passwordChange {
    .page {
        form {
            padding: 0px;
            margin-top: 0px;
            md-card {
                padding: 10px;
                margin-top: 20px;
            }
            
            fieldset {
                margin-top: 20px;
                color: #000000;
            }

            .label {
                display: block;
                margin-top: 6px;
                margin-right: 10px;
                text-align: right;
                font-size: 16px;
            }

            .label.search-label {
                margin-top: 9px;
            }

            .label.radio-label {
                margin-top: 3px;
            }

            .label.button-label {
                margin-top: 9px;
                margin-right: 0px;
                font-weight: bold;
            }

            md-input-container {
                margin-top: 0px;
                margin-bottom: 0px;
                min-height: 58px;

                input:focus {
                    border-color: rgb(0,145,234);
                }

                textarea:focus {
                    border-color: rgb(0,145,234);
                }

                .button {
                    cursor: pointer;
                    color: #7d7d7d;
                }

                .button:hover {
                    color: rgb(0,145,234);
                }

                md-icon {
                    color: #7d7d7d;
                }
            }
        }
    }
}