/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector


// input{
//    font-size: 15px;
//    font-weight: bold;
//  //  font-family:  'Lat', sans-serif;

// }

//  label {
//     font-size: 13px;
//     font-weight: bold;
// }

// div{
//   font-size: 13px;
//   font-weight: bold;
// }

// span{
//   font-size: 11px;
//   font-weight: bold;
// }
span.iconSpan { cursor: pointer; cursor: hand; }

.refresh-button{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 85%;
}

.out-button {
  margin-top: 8px;
  margin-left: 8px;
  cursor: pointer;
  color: #7d7d7d;
}

.out-button:hover {
    color: rgb(0,145,234);
}

.search-button {
  margin: 0px;
  margin-left: 10px;
  height: 40px;
  border-radius: 0px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.no-padding {
  padding: 0px;
}

.margin-top-ten {
  margin-top: 10px;
}

.rigth-align {
  text-align: right !important;
}

.left-align {
  text-align: left !important;
}

.center-align {
  text-align: center !important;
}

md-card.default {
  background-color: #E4E4E4;
}

md-card.default.header {
 min-height: 48px;
}

label span.required {
  color: red;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 7px;
    margin: 25px;
}

.horizontal-divider {
    border-right: 1px solid #ccc;
    margin: 5px 0px;
}

#custom input[name="autocompleteField"]  {
    background: url(../assets/images/backgrounds/search.icon.png);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    padding: 0px 35px;
}

// .ms-navigation .ms-navigation-node .ms-navigation-item > .ms-navigation-button{
//       height: 30px;
// }

.ms-navigation-button:hover,.ms-navigation-button:active{
  background-color: rgb(3,155,229);
}

#toolbar #navigation-toggle,#vertical-navigation .navigation-header{
  height: 48px;
  min-height: 48px;
}

#toolbar .navigation-header{
  border-bottom: 1px solid #cccccc;
}

#toolbar {
    height: 48px;
    min-height: 48px;
    max-height: 48px;

}

table.md-table:not(.md-row-select) td.md-cell:first-child, table.md-table:not(.md-row-select) th.md-column:first-child{
 // width: 800px;
  height: 40px;
}

#logoutButton{
  margin: 0 0 0 40px;
}

// md-input-container{
//   margin: 18px 0 0 0;
// }

// md-autocomplete{
//   border-radius: 20px;
// }

// md-autocomplete md-autocomplete-wrap {
//   border-radius: 20px;
//   overflow: hidden;
// }

// @media print {
//       body, html {
//           width: 100%;
//       }
// }

// @media print {
//   body * {
//     visibility: hidden;
//   }
//   #section-to-print, #section-to-print * {
//     visibility: visible;
//   }
//   #section-to-print {
//     position: absolute;
//     left: 0;
//     top: 0;
//   }
// }

.material-cust-large-button {
    width: 220px;
   // height: 70px;
    //padding-top: 13px;
}

.buttom-button {
  z-index: 2000;
  height: 71px;
  width: 100%;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 1px -3px 14px 0 rgba(128, 128, 128, 0.5);
  text-align: center;
  padding: 8px;
}



.buttom-button button {
	height: 55px;
  width: 252px;
  position: relative;
	border-radius: 30px;
	background-color: #0288DF;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
