bio-card {
  border: 1px solid #ccc;
  border-radius: 7px;

  .personal-profile {
    .profile-avatar {
      margin: 5px;
      max-width: 130px;
      width: 100%;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }
  }
}

.profile-details {
  margin-bottom: 30px;

  .header {
    border-bottom: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 7px 7px 0 0;
  }

  .header h1 {
    margin: 0px;
    padding: 20px 30px;
    position: relative;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    line-height: 24px;
    text-transform: capitalize;

    .md-button {
      position: absolute;
      right: 0px;
      margin: 0px;
      padding: 0px;
    }
  }

  .details {
    p {
      margin-bottom: 5px;
      margin-top: 15px;
      padding: 20px 45px;
      color: #757575;
      font-size: 18px;
      line-height: 14px;
    }

    span {
      color: #424242;
      font-size: 16px;
      padding: 20px 45px;
      line-height: 16px;
    }
  }
}

#viewfieldset {
  border: 1px solid #ccc;
  border-radius: 7px;
  margin: 25px;
  padding: 0px;
}
